In [10]:
import pandas as pd

In [12]:
tabla = pd.DataFrame({'ret': [-.07, .04, .1, -.08,.15]})
tabla

    ret
0 -0.07
1  0.04
2  0.10
3 -0.08
4  0.15

In [14]:
#Rendimiento geom√©trico
(1+tabla["ret"]).prod()**(1/5)-1

0.02395041921708474

In [ ]:
#Rendimiento Aritmetico